



:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao--azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}
* {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: rgb(2, 41, 28);  */
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    
}

.cabecalho {
    margin: 3% 32%;
}
.cabecalho__navegacao{
    display: flex;
    margin-left: 20%;
    gap: 80px;
    
}
.cabecalho__navegacao__link{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
.cabecalho__navegacao__link:hover{
    color: rgb(180, 178, 178)
}

/* section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
} */

.principal {
    /* background-image: url("../assets/images/Background.png");
    background-repeat: no-repeat;
    background-size: contain;  */
    align-items: center;
    text-align: center;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 50%;
} 
.container__titulo {
    font-size: 1.7rem;
    font-weight: 700;

}
.container__caixa{
    margin: 2em 5em;
    z-index: 1;
}

.container__botao {
    background-color: var(--botao--azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}
.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);

}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    text-decoration: none;
}
.container__aviso {
    font-size: 0.8rem;
    color: var(--cinza-secundario);
}
.container__imagem {
    margin: 1em 0 2em 0;
    
}
.secundario__imagem {
    width: 70%;
}
.terciario__imagem {
    width: 70%;
}
.imagem_jogo{
    margin: 10% 0 0 0;
    width: 50%;
    border-radius: 10px;
    border: 5px solid rgb(255, 0, 0);
}

.secundario {
    align-items: center;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: -4em;
}
.descricao__titulo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.3em;
}
.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1.5em;
}

.container__descricao {
    padding-right: 5em;
    
}
.dispositivos {
    text-align: center;
}

.dispositivos__titulo{
    font-size: 2rem;
}


.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    list-style-type: none;

}
.lista_item {
    font-size: 1.5rem;
    color: var(--branco-principal);;

}
.rodape {
    text-align: center;
    margin: 3em 3em;
    
}
.rodape_lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 1em;
   

}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    margin-left: 2em;
}
.lista__link a:hover {
    color: var(--botao--azul);

}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 0.8rem;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    padding:0 1.5em 0 2em;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
    
}
.logo:nth-child(4) {
    transition-delay: 500ms;
}



/* background css animation */
body {
    /* background: radial-gradient(circle, #000, #0c1e3f); */
    background-color: var(--cor-de-fundo);
}

.background span{
    position: fixed;
    animation: animate 2s linear infinite;
}


.background span i {
    color: aliceblue;
    font-size: 1rem;
}
.background span:nth-child(1) {
    left: 60px;
    animation-delay: 0.6s;
    top: 5%;
}

.background span:nth-child(2) {
    left: 10%;
    animation-delay: 2s;
    top: 40%;
}

.background span:nth-child(3) {
    left: 20%;
    animation-delay: 5s;
    top: 15%;
}

.background span:nth-child(4) {
    left: 26%;
    animation-delay: 4s;
    top: 67%;
}

.background span:nth-child(5) {
    left: 40%;
    animation-delay: .5s;
    top: 85%;
}

.background span:nth-child(6) {
    left: 50%;
    animation-delay: 5s;
    top: 23%;
}

.background span:nth-child(7) {
    left: 60%;
    animation-delay: 6s;
    top: 65%;
}

.background span:nth-child(8) {
    left:70%;
    animation-delay: 3.5s;
    top: 12%;
}

.background span:nth-child(9) {
    left: 80%;
    animation-delay: 9s;
    top: 75%;
}

.background span:nth-child(10) {
    left: 90%;
    animation-delay: 3s;
    top: 14%;
}
/* .box-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
} */
/* .text-area h2{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    font-family: montserrat;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    letter-spacing: 2px;
}
.text-area h2 b{
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
    font-size: 2rem;
} */

@keyframes animate {
    0%{
       opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width: 1000px) {
    .cabecalho{
        padding-right: 5%;
    }
    .cabecalho__navegacao {
        justify-content: center;
        gap: 80px;
    }
    .container {
        width: 80%;
        display: flex;
        
    }
    .principal {
        margin-left: 10%;
    }
    .container__imagem {
        width: 95%;
    }
    .container__caixa {
        margin: 10%;
       
    }
    .container__titulo {
        width: auto;
    }
    .descricao__texto {
        width: auto;
        
       
    }
    .secundario{
        width: 50%;
        display: flex;
        margin-left: 15%;
    }
    .secundario__imagem{
        margin-right: 10%;
    }
    .dispositivos__imagem{
        width:80%;
    }

}
@media (max-height: 500px) {
    .principal {
        margin-top: 10%;
    }
    .secundario{
        width: 50%;
        margin-top: 7%;
        padding-left: 2%;

    }
    .secundario__imagem{
        padding-left: 6%;
    }
    .container__descricao {
        padding-right: 0;
    }
    .terciario__imagem {
        margin-left:30%;
    }
        
   
    
}